.navbar{
 
    background-color: rgb(7, 4, 158);
    padding: 10px 20px;
}

.navbar-logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link{
    color: white;
    text-decoration: none;
    
}

.active{
    color: #3f1d1d;
    font-weight: bolder;
}